<div class="container mt-3">
  <h1 class="text-center mb-3">Cocktails</h1>
    <div class="cards">
      <% @cocktails.each do |cocktail| %>
        <%= link_to cocktail_path(cocktail) do %>
          <%# <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img.cuisineaz.com/1280x720/2013-12-20/i14978-recette-de-mojito.jpeg)"> %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cocktail.photo.attached? ? cl_image_path(cocktail.photo.key, crop: :fill) : "https://img.cuisineaz.com/1280x720/2013-12-20/i14978-recette-de-mojito.jpeg" %>')">
            <%= cocktail.name.capitalize %>
          </div>
        <% end %>
      <% end %>
    </div>
</div>
