.btn-ghost {
  color: #017DA3;
  border: 1px solid #017DA3;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  a {
    text-decoration: none;
    color: #017DA3;
  }
}

.btn-ghost:hover {
  opacity: 1;
  text-decoration: none;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background:  #2C5889;
  transition: background 0.3s ease;
  width: 150px;
  a {
    text-decoration: none;
    color: white;
  }
}

.btn-flat:hover {
  background: #017DA3;
  color: white;
}  

